<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestSettingOne" value="abc" />
    <add key="TestSettingTwo" value="1234" />
    <add key="TestSettingThree" value="999" />
    <add key="TestSettingFour" value="true" />
    <add key="TestSettingFive" value="false" />
  </appSettings>
</configuration>